@import '../styles/color';

.button {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 10px;

    font-weight: 700;

    cursor: pointer;

    transition: box-shadow .2s;

    &:hover {
        box-shadow: 0 0 4px $dark;
    }
}

.default {

    color: $dark;
   
    background-color: $grey;
}

.primary {

    color: $white;

    background-color: $primary;
}