@import '../../styles/color';

@import '../../styles/input';

.input {
    @include input;
}

.wrapper_error {
    margin-top: 5px;
    position: absolute;
}

.input_error {
    border: 1px solid $error;
    box-shadow: 0 0 5px $error;
}